# Virtual Environment
.venv
venv/
env/
.env

# IDE and System
.idea
.vscode/
.DS_Store

# Python
__pycache__/
*.py[cod]
*.so
*.pyc

# Database
*.db
*.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*